.navbar-brand {
    height: 60px;
    width: 60px;
}

.navbar-custom {
    background-color: black;
    color: white;
}

.navbar-custom .nav-link {
    color: grey;
    font-size: larger;
}

.navbar-custom .nav-link:hover {
    color: white;
}